# Server Configuration
PORT=3000
CLIENT_URL=http://localhost:5173

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=capstone

# JWT Configuration
JWT_SECRET=ganti-dengan-secret-yang-kuat-dan-panjang
